.pe-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: $pe-btn-font-size;
  height: $pe-btn-height;
  line-height: $pe-btn-height;
  padding: $pe-btn-padding;
}

.pe-btn--default {
  @include pe-btn-variant(
    $pe-btn-default-text,
    $pe-btn-default-bg,
    $pe-btn-default-border-color
  );
}

.pe-btn--primary {
  @include pe-btn-variant(
    $pe-btn-primary-text,
    $pe-btn-primary-bg,
    $pe-btn-primary-border-color
  );
}

.pe-btn--link {
  @include pe-btn-variant($pe-btn-link-text);

  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.pe-btn--small {
  height: $pe-btn-small-height;
  line-height: $pe-btn-small-height;
  font-size: $pe-btn-small-font-size;
  padding: $pe-btn-small-padding;
}

.pe-btn--large {
  height: $pe-btn-large-height;
  font-size: $pe-btn-large-font-size;
  line-height: $pe-btn-large-height;
  padding: $pe-btn-large-padding;
}

