.pe-header {
  width: 100%;
  min-height: $pe-header-height;
  z-index: $pe-header-z-index;
  background-color: $pe-header-bg;
  color: $pe-header-text-color;

  @include pe-responsive-breakpoint(lg) {
    min-height: $pe-header-height-lg;
  }
}

.pe-header--fixed {
  position: fixed;
  top: 0;
}

// Sections
//

.pe-header__section {
  float: left;
}

.pe-header__section--right {
  float: right;
}

// Brand
//

.pe-header__brand {
  font-size: $pe-header-brand-font-size;

  @include pe-header-link;
}

// Logo
//

.pe-header__logo {
  display: inline-block;
  float: left;
  margin: 0 $pe-header-logo-margin-x;
}

.pe-header__logo--pearson {
  margin-top: ($pe-header-height - 40) / 2;
  height: 40px;
  width: 40px;
  background: url(#{$pe-images-path}#{$pe-header-logo-sprite-name}) no-repeat;

  @include pe-responsive-breakpoint(lg) {
    margin-top: ($pe-header-height-lg - 40) / 2;
  }
}

// Nav
//

.pe-header__nav {
  width: auto;
  float: left;
}

.pe-header__nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pe-header__nav-item {
  float: left;
  height: $pe-header-height;

  a {
    @include pe-header-link;
  }

  @include pe-responsive-breakpoint(lg) {
    height: $pe-header-height-lg;
  }
}

.pe-header__nav-item--active {
  background: $pe-header-nav-link-active-bg;

  > a {
    color: $pe-header-nav-link-active-color;

    &:hover,
    &:active,
    &:focus {
      color: $pe-header-nav-link-active-hover-color;
    }
  }
}

// Inverse
//

.pe-header--inverse {
  background: $pe-header-bg-inverse;

  a {
    color: $pe-header-link-color-inverse;

    &:hover,
    &:focus {
      color: $pe-header-link-hover-color-inverse;
    }
  }

  .pe-header__nav-item--active {
    background-color: $pe-header-nav-link-active-bg-inverse;
  }
}
