// Variables
//

// Global paths
//
// Paths to assets. Override these variables if you change the location(s)
// of bundled assets.

$pe-icons-path: '../fonts/' !default;
// Icon font filename without the extension.
$pe-icons-name: 'pearson-fa' !default;

$pe-images-path: '../images/';

// Colors
//

$pe-colors: (
  // Brand colors
  pearson-blue: #007fa3,
  ink-black: #000000,
  chalk-white: #ffffff,
  // Primary colors
  midnight-blue: #003057,
  lime-green: #d2db0e,
  ice-blue: #d4eae4,
  graphite-grey: #505759,
  // Supporting colors
  ink-blue: #005a70,
  grass-green: #008638,
  // Accent colors
  sunshine-yellow: #ffb81c,
  juicy-orange: #ea7600,
  strawberry-red: #db0020,
  marine-turquoise: #12b2a6,
  royal-purple: #9e007e,
  hot-pink: #ea067e,
  fresh-green: #84bd00,
  // Utility colors
  highlighter: #fdec2e
);

$pe-palettes: (
  grey: (
    grey-lightest: scale-color(map-get-strict($pe-colors, graphite-grey), $lightness: 90%),
    grey-lighter: scale-color(map-get-strict($pe-colors, graphite-grey), $lightness: 50%),
    grey: scale-color(map-get-strict($pe-colors, graphite-grey), $lightness: 20%),
    grey-darker: map-get-strict($pe-colors, graphite-grey),
    grey-darkest: scale-color(map-get-strict($pe-colors, graphite-grey), $lightness: -50%)
  )
);

// Responsive breakpoints
//

$pe-responsive-breakpoints: (
  xs: (min: 0,      max: 479px),
  sm: (min: 480px,  max: 767px),
  md: (min: 768px,  max: 1023px),
  lg: (min: 1024px, max: 1279px),
  xl: (min: 1280px)
) !default;

// Type
//

$pe-font-size-base: 16px !default;
$pe-line-height-base: 1.5 !default;

$pe-font-families: (
  default-sans-serif: ('Open Sans', Verdana, Arial, sans-serif),
  default-serif: ('Playfair Display', Times, 'Times New Roman', serif),
  default-monospace: ('Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace)
) !default;

// Links
//

$pe-link-color: pe-color(pearson-blue) !default;
$pe-link-hover-color: scale-color(pe-color(pearson-blue), $lightness: -10%) !default;

// Headings
//

$pe-text-heading-small-color: pe-color(graphite-grey) !default;
$pe-text-heading-small-font-size: 0.8rem !default;

// Inline text
//

$pe-text-mark-bg: pe-color(highlighter) !default;

$pe-text-strikethrough-color: pe-color(graphite-grey) !default;

$pe-text-small-line-height: 1rem !default;
$pe-text-small-font-weight: normal !default;
$pe-text-small-font-size: inherit !default;

// Code
//

$pe-text-code-color: pe-color(graphite-grey) !default;

$pe-text-kbd-bg: pe-color(ink-black) !default;
$pe-text-kbd-color: pe-color(chalk-white) !default;

// Body copy
//

$pe-copy-color: pe-color(ink-black) !default;
$pe-copy-font-size: 1rem !default;
$pe-copy-line-height: 1.375 !default;

// Titles
//

$pe-title-color: pe-color(ink-black) !default;
$pe-title-font-weight: normal !default;
$pe-title-font-size: 1.124rem !default;
$pe-title-line-height: 1.375rem !default;
// sm and larger viewports
$pe-title-sm-font-size: 1.375rem !default;
$pe-title-sm-line-height: 1.75rem !default;

$pe-title-large-font-size: 1.25rem !default;
$pe-title-large-line-height: 1.5rem !default;
// sm and larger viewports
$pe-title-large-sm-font-size: 1.5rem !default;
$pe-title-large-sm-line-height: 1.875rem !default;

$pe-title-extra-large-font-size: 1.375rem !default;
$pe-title-extra-large-line-height: 1.75rem !default;
// sm and larger viewports
$pe-title-extra-large-sm-font-size: 1.875rem !default;
$pe-title-extra-large-sm-line-height: 2.25rem !default;

// Leads
//

$pe-lead-color: pe-color(ink-black) !default;
$pe-lead-font-weight: 200 !default;
$pe-lead-font-size: 1.125rem !default;
$pe-lead-line-height: 1.5rem !default;
// sm and larger viewports
$pe-lead-sm-font-weight: 300 !default;
$pe-lead-sm-font-size: 1.25rem !default;
$pe-lead-sm-line-height: 1.75rem !default;

// Labels
//

$pe-label-color: pe-color(ink-black) !default;
$pe-label-font-size: 0.875rem !default;
$pe-label-line-height: 1rem !default;
$pe-label-font-weight: normal !default;

$pe-label-secondary-color: pe-color(graphite-grey) !default;

$pe-label-small-font-size: 0.813rem !default;
$pe-label-small-line-height: 0.9375rem !default;

$pe-label-large-font-size: 1rem !default;
$pe-label-large-line-height: 1.125rem !default;

$pe-label-bold-font-weight: bold !default;

$pe-label-inverse-color: pe-color(chalk-white) !default;
$pe-label-secondary-inverse-color: pe-color(graphite-grey) !default;
$pe-label-inverse-font-weight: 300 !default;

// Aside
//

$pe-aside-bg: pe-palette(grey, grey-lightest) !default;
$pe-aside-border-left: 5px solid pe-color(pearson-blue) !default;
$pe-aside-padding: 15px !default;
$pe-aside-margin: 15px !default;

// Buttons
//

$pe-btn-border-radius: 3px !default;
$pe-btn-font-size: 0.875rem !default;
$pe-btn-height: 28px !default;
$pe-btn-padding: 0 11px !default;
$btn-active-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3) !default;

$pe-btn-default-text: pe-palette(grey, grey-darkest) !default;
$pe-btn-default-bg: pe-palette(grey, grey-lightest) !default;
$pe-btn-default-border-color: pe-palette(grey, grey-lighter) !default;

$pe-btn-primary-text: pe-color(chalk-white) !default;
$pe-btn-primary-bg: pe-color(pearson-blue) !default;
$pe-btn-primary-border-color: darken(pe-color(pearson-blue), 10%) !default;

$pe-btn-link-text: $pe-link-color !default;

$pe-btn-small-height: 24px !default;
$pe-btn-small-font-size: $pe-label-small-font-size !default;
$pe-btn-small-padding: 0 9px !default;

$pe-btn-large-height: 42px !default;
$pe-btn-large-font-size: $pe-label-large-font-size !default;
$pe-btn-large-padding: 0 19px !default;

// Card
//

$pe-card-border: solid 1px pe-color(graphite-grey) !default;
$pe-card-margin-bottom: 15px !default;
$pe-card-heading-padding: 15px !default;

// Header
//

$pe-header-height: 44px !default;
$pe-header-height-lg: 54px !default;
$pe-header-bg: pe-color(midnight-blue) !default;
$pe-header-text-color: pe-color(chalk-white) !default;
$pe-header-link-color: pe-color(chalk-white) !default;
$pe-header-link-hover-color: darken($pe-header-link-color, 10%) !default;

$pe-header-brand-font-size: 1.25rem !default;

$pe-header-logo-sprite-name: 'pearson-logo.svg' !default;
$pe-header-logo-sprite-height: 16px !default;
$pe-header-logo-margin-x: 14px !default;

$pe-header-nav-link-active-color: pe-color(ink-black) !default;
$pe-header-nav-link-active-hover-color: pe-palette(grey, grey-darker) !default;
$pe-header-nav-link-active-bg: pe-color(chalk-white) !default;
$pe-header-nav-link-padding-x: 15px !default;

$pe-header-bg-inverse: #f2f2f2 !default;
$pe-header-link-color-inverse: #000000 !default;
$pe-header-link-hover-color-inverse: #595959 !default;
$pe-header-nav-link-active-bg-inverse: #e6e6e6 !default;

// Tables
//

$pe-table-striped-bg: pe-color(graphite-grey) !default;
$pe-table-border-color: pe-color(graphite-grey) !default;

// z-index
//

$pe-header-z-index: 1000 !default;
