.d-c--color {
  font-size: 0em;
}

.d-swatches {
  clear: both;
  margin-bottom: 35px;

  &:after {
    clear: both;
    margin-bottom: 35px;
  }
}

.d-swatch__container {
  width: 150px;
  height: 90px;
  text-align: center;
}

.d-swatch__swatch {
  margin: auto;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@each $name, $color in $pe-colors {
  .d-swatch__swatch--#{$name} {
    background: $color;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.d-swatch__swatch--chalk-white {
  border: solid 1px #cccccc;
}
